body{
    margin: 0;
    padding: 0;
    background-color: rgb(33, 32, 32);
}




.container{
    background-color: rgb(45, 171, 224);
    padding: 15px;
    border-radius: 15px;
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    margin-top: 50px;
    border: white 2px solid;
    /* box-shadow: 0px 0px 10px 3px rgb(237, 131, 11); */
}
.titre{
    display: flex;
    color: white;
    justify-content: space-around;
    margin-bottom: 10px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}

button{
    color: white;
    width: 30px;
    margin: .1em;
    height: 26px;
    font-size: 9px;
    text-align: center;
    /* border: black 1px solid; */
    /* background-color: rgb(93, 93, 223); */
    background-color: rgb(10, 10, 133);
    border-color: white;
    border-radius: 15px;
    cursor: pointer;
}

#clear{
    background-color: red;
}

#back{
    background-color: rgb(107, 107, 105);
}


/* button:hover{
    background-color: rgb(166, 166, 234);
} */

.calculation, .answer{
    align-items: center;
    padding: 0 5px;
    color: white;
    background-color: rgb(53, 46, 46);
    height: 2.3em;
    margin-right: 5px;
    margin-bottom: -15px;
    border-radius: 5px;
}

.calculation{
    padding-top: 10px;
    text-align: start;
}
.answer{
    text-align: end;
}

.keys{
    margin-top: 25px;
    margin-bottom: 10px;
}

.btn-head{
    text-align: center;
    width: 24px;
    font-size: 8px;
    margin: .1em;
    height: 22px;
}

#date{
    background-color: rgb(53, 46, 46);
    background-clip: border-box;
    padding: 0 7px;
    border-radius: 5px;
}
